.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  gap: 20px;
  padding: 2rem;
  margin-left: 240px; /* remove large left margin */
  margin-top: 2rem;
}

.card {
  border: 2px solid #ededed;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card-img {
  width: 13rem;
  height: 16rem;
  margin-bottom: 1rem;
  object-fit: cover;
}

.card-title {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-icon {
  color: #FFD700; /* Yellow */
  margin-right: 2px;
  font-size: 1.1rem;
}


.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bag-icon {
  color: #535353;
  cursor: pointer;
}
