/* Sidebar Styles */
.sidebar {
  width: 250px; /* Set the sidebar width */
  background-color: #f4f4f4; /* Light background color for the sidebar */
  padding: 20px;
  height: 100vh; /* Full height of the viewport */
  position: sticky;
  top: 0;
  flex-shrink: 0; /* Prevent the sidebar from shrinking */
  min-height: 120vh; /* Make sidebar 120% of viewport height to stretch longer */
  overflow-y: auto; /* Enables vertical scrollability */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  box-sizing: border-box; /* Ensures padding is included in the width and height */
}

.sidebar-header {
  margin-bottom: 20px;
}

.sidebar-heading {
  font-size: 1.5em;
  font-weight: bold;
}

.sidebar .category, .brands, .price, .colors {
  margin-bottom: 15px; /* Add spacing between filter sections */
}
